.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3A3A3A;
    color: #ffffff;
    justify-content: center;
    font-family:  "Poppins", sans-serif;
}

h1{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    margin-bottom: 26px;
    margin-top: 20px;
}

.texts {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 10px;
}

.texts input[type="name"]{
    border-radius: 10px;
    width: 50%;
    align-self: center;  
    height: 50px;
    width: 760px;      
    background-color: transparent;
    border-color: #ffffff;
    border-width: 1px;
    border-style: double;
    padding-left: 10px;
    font-family:  "Poppins", sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.texts textarea{
    font-size: 20px;
    color: #ffffff;
    border-radius: 10px;
    width: 50%;
    align-self: center;
    height: 110px;
    width: 760px;      
    background-color: transparent;
    border-color: #ffffff;
    border-width: 1px;
    border-style: double;
    padding-left: 10px;
    padding-top: 10px;
    font-family:  "Poppins", sans-serif;
}

::placeholder{
    color: #BEBEBE;
    font-size: 20px;
}

.addBtn {
    height: 50px;
    width: 140px;
    align-self: center;
    border-radius: 10px;
    background-color: #8317B6;
    border: none;
    font-size: 20px;
    font-weight:600;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.addBtn:hover{
    background-color: #AD24ED;
    transition: 0.3s;
}

.filterBtn{
    width: 140px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 50%;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight:600;
    color: #ffffff;
    margin-bottom: 5px;
    cursor: pointer;

}

.tasks-list{
    margin-top: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
}

.task {
    margin: 5px;
    background-color: #413646;
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 760px;
    border-radius: 10px;
    box-shadow: -10px 0px #8317B6;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.check-text{
    display: flex;
    padding: 5px;
}

.text-task{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
    padding-left: 10px;
}

span.name-task{
    font-size: 20px;
    font-weight: 600;
}
span.description-task{
    font-size: 16px;
}

.delete-task-btn {
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}

.custom-checkbox input{
    margin-right: 10px;
    margin-top: 17px;
    width: 25px;
    height: 25px;
    color: #8317B6;
    vertical-align: middle;
    -webkit-appearance: none;
    background:#413646;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.custom-checkbox input::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #fff;
}

.custom-checkbox input:checked {
    background-color: currentColor;
}

.custom-checkbox input:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}


.dropdown {
    display: flex;
    align-items: flex-end;
    width: 50%;
    align-self: flex-end;
    justify-content: center;
}

.dropbtn {
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3A3A3A;
}

.dropdown-content a {
    color: #ffffff;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #413646;
    transition: 0.3s;
}

.btndrop:hover .dropdown-content {
    display: block;
}

